
<div class="card" id="graph_card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Chat: You are Person [[session_player.parameter_set_player.id_label]]</span>

        <span class="float-end">
            <span v-show="reconnecting" class="me-1">
                Connecting <i class="fas fa-cog fa-spin fa-1x"></i>
            </span>

            {%if session.parameter_set.test_mode%}
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox" 
                           value="" 
                           id="testModeCheckBox" 
                           v-model="test_mode"
                           >
                    <label class="form-check-label" for="testModeCheckBox">
                    Test Mode On
                    </label>
                </div>
            {%endif%}
        </span>

    </div>
    <div class="card-body">

        <div class="row justify-content-center mt-2" v-show="session.started">
            <div class="col-md-8">                 
                <div class="input-group">
                    <input type="text" 
                           class="form-control" 
                           placeholder="Chat Text" 
                           v-model="chat_text"
                           aria-label="Chat Text"                           
                           v-on:keyup.enter="(session.current_experiment_phase == 'Instructions') ? simulate_chat_instructions() : send_chat()"
                           aria-describedby="send_chat_id">
                    <button class="btn btn-outline-primary"
                            type="button" 
                            id="send_chat_id" 
                            v-bind:disabled="reconnecting || working || session.started===false || session.finished"
                            v-on:click="(session.current_experiment_phase == 'Instructions') ? simulate_chat_instructions() : send_chat()"> @ [[chat_button_label]]</button>
                  </div>
            </div>
        </div>
       
    </div>                    
</div> 